# Match our dongle
KERNEL=="hidraw*", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="04*", GOTO="pinc"
# Did not match our MCU, skip the usb rules
SUBSYSTEMS=="usb", GOTO="pinc_end"

LABEL="pinc"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="04*", MODE:="0666", SYMLINK+="pinc"

LABEL="pinc_end"

